body{
  width: 100%;
  height: 100%;
  background-color: rgba(50, 115, 220, 0.3);
  
}

h1 {
  padding: 0;
  margin: 0;
  text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

h1 {
  color: white;
  font-family: cursive;
  letter-spacing: 5px;
}
}
#clock {
  font-family: 'Mouse Memoirs', sans-serif;
  color: black;
  font-size: 40px;
  text-align: center;
}
button {
  border: 2px solid #008CBA;
  font-family: 'Neucha', cursive;
  color: black;
  padding: 46px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
    margin: -0px -200px; 
    position:relative;
    top:70%; 
    left:50%;
}
